name: Sync Master Branch to S3

on:
  push:
    branches:
    - master

jobs:
  sync-files:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Run Sync
      run: |
        aws s3 sync --delete cloudformation/ s3://${S3_BUCKET}/aws-account-automation/
      env:
        S3_BUCKET: pht-cloudformation
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        AWS_REGION: 'us-east-1'